@charset "ISO-8859-1";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #5196F3;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menu {
	width: 100%;
	height: 100%;
	grid-column: 10/span 990;
	grid-row: 2/span 90;
	background-color: #8000ff;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	display: grid;
	text-align: center
}

#setNumberOfDiscs {
	width: 100%;
	height: 100%;
	grid-column: 2/span 150;
	grid-row: 250/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1.4rem;
	font-size: 0.8rem;
}

#buttonMinus {
	width: 100%;
	height: 100%;
	grid-column: 170/span 30;
	grid-row: 100/span 900;
	background-color: #8080ff;
	display: grid;
	text-align: center;
	line-height: 1.4rem;
}

#numberOfDiscss {
	width: 100%;
	height: 100%;
	grid-column: 200/span 30;
	grid-row: 150/span 830;
	background-color: #8080ff;
	display: grid;
	text-align: center;
	line-height: 1.8rem;
	font-size: 1rem;
}

#buttonPlus {
	width: 100%;
	height: 100%;
	grid-column: 230/span 30;
	grid-row: 100/span 900;
	background-color: #8080ff;
	display: grid;
	text-align: center;
	line-height: 1.4rem;
}

#selectMode {
	width: 100%;
	height: 100%;
	grid-column: 280/span 100;
	grid-row: 200/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1.4rem;
	font-size: 0.8rem;
}

#Modes {
	width: 100%;
	height: 100%;
	grid-column: 380/span 400;
	grid-row: 20/span 960;
	background-color: #8000ff;
 	display: grid; 
	text-align: center;
	line-height: 1.4rem;
	font-size: 0.7rem;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	padding:0px;
}
 #practice {
	width: 100%;
	height: 100%;
	grid-column: 1/span 30;
	grid-row: 200/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.1rem;
} 

 #practiceLabel {
	width: 100%;
	height: 100%;
	grid-column: 50/span 150;
	grid-row: 360/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
	
} 
 #solution {
	width: 100%;
	height: 100%;
	grid-column: 220/span 31;
	grid-row: 200/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
} 
 #solutionLabel {
	width: 100%;
	height: 100%;
	grid-column: 270/span 160;
	grid-row: 390/span 600;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
} 
 #solutionM {
	width: 100%;
	height: 100%;
	grid-column: 450/span 30;
	grid-row: 200/span 900;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
} 
#solutionLabelM {
	width: 100%;
	height: 100%;
	grid-column: 500/span 300;
	grid-row: 390/span 600;
	background-color: #8000ff;
	display: grid;
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
} 
#reallyBigContainer {
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	display: grid;
	text-align: center;
}

#bigContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-column: 10/span 990;
	grid-row: 94/span 980;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #2196F3;
	padding: 1px;
	grid-gap: 1%;
	color: #000040;
}

.container1 {
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	display: grid;
}

.container2 {
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	display: grid;
}

.container3 {
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
	grid-auto-columns: 0.1%;
	grid-auto-rows: 0.1%;
	display: grid;
}

#SpikeLeft {
	grid-column: 490/span 20;
	grid-row: 1/span 980;
	display: grid;
	background-color: rgba(155, 55, 125, 0.7);
	padding: 1px;
	font-size: 1rem;
	text-align: center;
}

#SpikeMiddle {
	grid-column: 490/span 20;
	grid-row: 1/span 980;
	display: grid;
	background-color: rgba(155, 55, 125, 0.7);
	padding: 1px;
	font-size: 1rem;
	text-align: center;
}

#SpikeRight {
	grid-column: 490/span 20;
	grid-row: 1/span 980;
	display: grid;
	background-color: rgba(155, 55, 125, 0.7);
	padding: 1px;
	font-size: 1rem;
	text-align: center;
}

.container1 div {
	background-color: rgba(255, 255, 25, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 0.5em;
	text-align: center;
	border-radius: 10px;
	filter: alpha(opacity = 10);
	opacity: 1;
	color: white;
	font-size: 1rem
}

.container2 div {
	background-color: rgba(255, 255, 25, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 0.5em;
	text-align: center;
	border-radius: 10px;
	filter: alpha(opacity = 10);
	opacity: 1;
	color: white;
	font-size: 1rem
}

.container3 div {
	background-color: rgba(255, 255, 25, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 0.5em;
	text-align: center;
	border-radius: 10px;
	filter: alpha(opacity = 10);
	opacity: 1;
	color: white;
	font-size: 1rem
}

#item10 {
	grid-column: 20/span 980;
	grid-row: 900/span 90;
	display: grid;
	background-color: green;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item9 {
	grid-column: 60/span 900;
	grid-row: 810/span 90;
	display: grid;
	background-color: #804040;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item8 {
	grid-column: 100/span 820;
	grid-row: 720/span 90;
	display: grid;
	background-color: #400080;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item7 {
	grid-column: 140/span 740;
	grid-row: 630/span 90;
	display: grid;
	background-color: #ff0000;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item6 {
	grid-column: 180/span 660;
	grid-row: 540/span 90;
	display: grid;
	background-color: #800000;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item5 {
	grid-column: 220/span 580;
	grid-row: 450/span 90;
	display: grid;
	background-color: #004000;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item4 {
	grid-column: 260/span 500;
	grid-row: 360/span 90;
	display: grid;
	background-color: #8000ff;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item3 {
	grid-column: 300/span 420;
	grid-row: 270/span 90;
	display: grid;
	background-color: #00ff40;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item2 {
	grid-column: 340/span 340;
	grid-row: 180/span 90;
	display: grid;
	background-color: #ff8080;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}

#item1 {
	grid-column: 380/span 260;
	grid-row: 90/span 90;
	display: grid;
	background-color: #400040;
	text-align: center;
	filter: alpha(opacity = 10);
	opacity: 1;
}