<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CSS/dragNdrop.css">
</head>
<body>
	<div id="wrapper" class="wrapper">
		<div class="box">box1
			<div id="task1" class="task">task 1</div>
			<div id="task2" class="task" draggable="true">task 2</div>
			<div id="task3" class="task" draggable="true">task 3</div>
		</div>

		<div id="box2" class="box">box2</div>
		<div class="boxe">box3</div>
	</div>
	<script src="/js/archive1/dragNdrop.js"></script>
</body>
</html>