<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CSS/myBankWelcome.css" />
</head>
<body>
	<div id="reallyBigContainer">
		<div id="menu">
			<div id="setNumberOfDiscs">Choose number of Discs:</div>
			<button id="buttonPlus" type="button">+</button>
			<button id="buttonMinus" type="button">-</button>
			<div id="numberOfDiscss">9</div>
			<div id="selectMode">Select mode:</div>
			<div id="Modes">
				<input type="radio" id="practice" name="ModeR" value="practice">
				<label id="practiceLabel" for="practice">Practice</label> <input
					type="radio" id="solution" name="ModeR" value="solution"> <label
					id="solutionLabel" for="solution">Solution</label> <input
					type="radio" id="solutionM" name="ModeR" value="solutionM">
				<label id="solutionLabelM" for="solution">Hanoi in Motion</label>
			</div>
		</div>

		<div id="bigContainer" class="bigContainer">
			<div id="container1" class="container1">
				<div id="SpikeLeft" class="SpikeLeft"></div>

				<div id="item9" class="grid-item">9</div>
				<div id="item10" class="grid-item">10</div>
			</div>
			<div id="container2" class="container2">
				<div id="SpikeMiddle" class="SpikeMiddle"></div>
			</div>
			<div id="container3" class="container3">
				<div id="SpikeRight" class="SpikeRight"></div>
			</div>
		</div>
	</div>
	<script src="/js/hanoiTower/hanoiTower.js"></script>
	<script src="/js/hanoiTower/hanoiTowerRecursionFunction.js"></script>
	<script src="/js/hanoiTower/returnTop.js"></script>
	<script src="/js/hanoiTower/moveNmotion.js"></script>
		<script src="/js/hanoiTower/setNumberOfDiscsEvents.js"></script>
		<script src="/js/hanoiTower/stepByStep.js"></script>
			<script src="/js/hanoiTower/hanoiTowerInMotion.js"></script>
			<script src="/js/hanoiTower/onEndOfMovement.js"></script>
</body>
</html>